<!doctype html>
<html lang="en">
  <head>
  	<title>ChatBotX-Login</title>
	  {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <script src="https://kit.fontawesome.com/7c2426f918.js" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'AuthenticationCss/css/style.css'%}">
	<style>
		  .disabled-btn {
            opacity: 0.5; /* Adjust the opacity to visually indicate the disabled state */
            pointer-events: none; /* Prevent the button from being clickable */
        }
		#bgVideo{
			 position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; 
		}
  </style>

	</head>
	<body class="img js-fullheight">
		<video autoplay muted loop plays-inline id="bgVideo">
			<source src="/static/AuthenticationCss/images/video2.webm" type="video/webm">
		  
		 </video>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"><img src="{% static 'AuthenticationCss/images/logo.png' %}" alt="logo Image" class="img-fluid" style="height: 100px; width: 100px;" /></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">WELCOME</h3>
					<!--Alert-->
					{%block alert%}
					{% if messages%}
						 {% for message in messages%}
						 <div id="mes" >
							 <h5 id="alert"class="mb-4 text-center text-danger"> {{message}}</h5>
						 </div>
						 {%endfor%}
					{%endif%}
			  {%endblock alert%}
				  <!--Content-->
		      	<form action="{% url 'signin' %}" class="signin-form" method="post">
						{% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control"  id="passwd" name="passwd"placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
	            </div>
	            <div class="form-group d-md-flex">
								<div class="w-50 text-md-right">
									<a href="{% url 'resetPassword' %}" style="color: #fff">Forgot Password</a>
								</div>
	            </div>
	          </form>
	          <p class="w-100 text-center">&mdash; Or Sign Up With &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="{% url 'signup' %}" class="px-2 py-2 mr-md-2 rounded">ChatBotX</a>
	          	<a href="#" class="px-2 py-2 ml-md-2 rounded disabled-btn"><i class="fa-brands fa-google"></i> </a>
	          </div>
		      </div> 
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'AuthenticationCss/js/jquery.min.js'%}"></script>
  <script src="{% static 'AuthenticationCss/js/popper.js'%}"></script>
  <script src="{% static 'AuthenticationCss/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'AuthenticationCss/js/main.js'%}"></script>


	</body>
</html>

